.task-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.task-container:hover{
    transform: translateY(-7px);
}